<!-- registration.component.html -->
<div class="container-fluid page-body-wrapper full-page-wrapper">
  <div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
      <div class="col-lg-5 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
          <h2 class="text-center">User Registration</h2>
          <form (ngSubmit)="register()" #registrationForm="ngForm">
            <div class="mb-3" [ngClass]="{'has-error': registrationForm.submitted && !nameInput.valid}">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required #nameInput="ngModel">
              <div *ngIf="registrationForm.submitted && nameInput.invalid" class="alert alert-danger">
                Name is required.
              </div>
            </div>
            <div class="mb-3" [ngClass]="{'has-error': registrationForm.submitted && !emailInput.valid}">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required email #emailInput="ngModel">
              <div *ngIf="registrationForm.submitted && emailInput.invalid" class="alert alert-danger">
                Please enter a valid email address.
              </div>
            </div>
            <div class="mb-3" [ngClass]="{'has-error': registrationForm.submitted && !passwordInput.valid}">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required minlength="8" #passwordInput="ngModel">
              <div *ngIf="registrationForm.submitted && passwordInput.invalid" class="alert alert-danger">
                Password must be at least 8 characters long and contain at least one number, one uppercase letter, and one special character.
              </div>
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <select class="form-control" id="role" [(ngModel)]="role" name="role" required>
                <option value="">Select Role</option>
                <option value="ADMIN">Admin</option>
                <option value="SERVICEADVISOR">Service Advisor</option>
              </select>
            </div>
            <div class="form-check d-flex justify-content-between align-items-center mb-4">
              <div class="form-check-label text-muted">
                <label class="form-check-label" for="rememberMe">

                </label>
              </div>
              <a routerLink="/login" routerLinkActive="active" class="auth-link text-black">Login</a>
            </div>
            <button type="submit" class="text-center btn btn-primary" [disabled]="registrationForm.invalid">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
