<app-admindashboard>
    <div class="container">
    <div class="col-md-12 grid-margin transparent">
        <div class="row">
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body" style="height: 155px;">
                <p class="mb-4">Vehicles Scheduled This Week</p>
                <p class="fs-30 mb-2"></p>
                <button type="button" routerLink="/admin-dashboard/vehicle-list" class="btn btn-primary">Get List</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body" style="height: 155px;">
                <p class="mb-4">Vehicles under Service</p>
                <p class="fs-30 mb-2"></p>
                <button type="button" routerLink="/admin-dashboard/under-service" class="btn btn-primary">Get List</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body" style="height: 155px;">
                <p class="mb-4">Vehicles Service Done</p>
                <p class="fs-30 mb-2"></p>
                <button type="button" routerLink="/admin-dashboard/service-done" class="btn btn-primary">Get List</button>
              </div>
            </div>
          </div>
          
        </div>
        <div style="float: left;" class="row">
        </div>
      </div>
    </div>
</app-admindashboard>