<app-admindashboard>
  <div class="col-md-6 offset-md-3">
      <h3>Update Item</h3>
      <br>
      <form (ngSubmit)="onSubmit()">
        <div *ngIf="vehicle">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="vehicle.name" name="name" />
          </div>
          <br>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" id="ownerName" [(ngModel)]="vehicle.ownerName" name="ownerName" />
          </div>
          <br>
          <div class="form-group">
              <label>Cost</label>
              <input type="text" class="form-control" id="year" [(ngModel)]="vehicle.year" name="year" />
            </div>
        </div>
        <br>
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" id="licensePlate" [(ngModel)]="vehicle.licensePlate" name="licensePlate" />
        </div>
        <br>
  
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    </div>
</app-admindashboard>